img {
  height: 300px;
  width: 400px;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.stats {
  display: flex;
  justify-content: space-around;
}
.photo-card {
  box-shadow: 2px 2px 4px 0px rgb(150, 147, 142);
  margin-right: 10px;
  margin-bottom: 10px;
}
body {
  background-color: rgb(206, 212, 212);
}
.search-form {
  margin-top: 30px;
  margin-left: 40px;
}
.input-css {
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 4px;
  padding-left: 10px;
}
.btn-css {
  height: 40px;
  width: 100px;
  background-color: rgb(238, 238, 228);
  border: none;
  border-radius: 4px;
}
.load-more {
  display: inline-block;
  margin-bottom: 40px;
}
.is-hidden {
  opacity: 0;
}
.for-load-btn {
  display: flex;
  justify-content: center;
}
